services:
  - type: web
    name: telegram-camera-bot
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: BOT_TOKEN
        value: 8344281396:AAGZ9-M2XRyPMHiI2akBSSIN7QAtRGDmLOY